__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.vscode
.idea
*.onnx
!models/cnn_modelo_v2_finetuned/model.onnx
!models/cnn_modelo_v2_finetuned/config_finetuned.json
!models/cnn_modelo_v2_finetuned/best_model_finetuned.pth
